* {
  box-sizing: border-box;
}

body {
  font-family: arial;
  background-color: rgb(163, 163, 163);
}

.container {
  margin: auto;
  background-color: #fff;
  max-width: 1000px;
}

#title {
  padding: 10px;
  text-align: center;
}

#image {
  max-width: 100%;
  margin: auto;
  height: auto;
  display: block;
  border-bottom: 5px solid rgb(172, 172, 172);
  border-top: 5px solid rgb(172, 172, 172);
}

#img-caption {
  font-size: 14px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

h2 {
  text-align: center;
}

.info {
  margin: auto;
}

li {
  padding: 10px;
  line-height: 25px;
}

.cuotes {
  margin: 20px;
}

.button {
  text-align: center;
  padding: 20px;
}
